<% provide :title, "Home" %>

<div class="center jumbotron">
  <h1>Framgia E-Learning System</h1>
  <p>
    Welcome to <a href="http://www.railstutorial.org/">FELS</a> App!
  </p>
  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>
